<h3 id="{{ anchor }}">Relations to {{ title }}</h3>
{% for relation in relations.values %}
    {# Add Relation - Relatant Statements #}
    {% if not relation.relation %}
        <strong style="color:red;">MISSING RELATION TYPE</strong>:
        {% if relation.relatant == 'MISSING OBJECT ITEM' %}
            <strong style="color:red;">{{ relation.relatant }}</strong>
        {% elif relation.relatant == 'not found' %}
            <strong style="color:red;">SELECTED {{ class }} NOT FOUND IN {{ class }} SECTION</strong>
        {% else %}
            {{ relation.relatant }}
        {% endif %}
    {% elif relation.relatant == 'MISSING OBJECT ITEM' %}
        {{ relation.relation.label }}: <strong style="color:red;">{{ relation.relatant }}</strong>
    {% elif relation.relatant == 'not found' %}
        {{ relation.relation.label }}: <strong style="color:red;">SELECTED {{ class }} NOT FOUND IN {{ class }} SECTION</strong>
    {% else %}
        {{ relation.relation.label }}: {{ relation.relatant }}
    {% endif %}
    {# Add Assumption Qualifiers #}
    {% if relation.relation.key == 'specialized_by' or relation.relation.key == 'specializes' %}
        {% if anchor == 'MM2MM' or anchor == 'CT2CT' or anchor == 'MF2MF_2' %}
            - assumptions (general to special): 
            {% for val in relation.assumption.values %} 
                {% if val == 'not found' %} 
                    <strong style="color:red;">SELECTED MATHEMATICAL EXPRESSION NOT FOUND IN MATHEMATICAL EXPRESSION SECTION</strong> 
                {% else %} 
                    {{ val }} 
                {% endif %} 
                {% if not forloop.last %}
                    , 
                {% endif %}
            {% empty %} 
                <strong style="color:red;">MISSING ASSUMPTIONS</strong> 
            {% endfor %}
        {% endif %}
    {% endif %}
    {# Add Order Number Qualifiers #}
    {% if anchor == 'CT2CT' %}
        {% if relation.relation.key == 'contained_in_task' or relation.relation.key == 'contains_task' %}
            - order number: 
            {% if relation.order %} 
                {{ relation.order }} 
            {% else %} 
                <strong style="color:red;">MISSING ORDER NUMBER</strong> 
            {% endif %}
        {% endif %}
    {% endif %}
    <br>
{% empty %}
    {% if empty_msg == "True" %}
        <strong style="color:red;">MISSING {{ class }}</strong>
    {% else %}
        <strong style="color:black;">NOT DOCUMENTED</strong>
    {% endif %}
{% endfor %}