<head>
    {% load static %}
    <script type="text/javascript" id="MathJax-script" async
            src="{% static 'MaRDMO/js/mathjax/es5/tex-mml-chtml.js' %}">
    </script>
    <style>
        table {
          margin-left: 0;
          margin-right: auto;
          margin-bottom: 24px;
          border-spacing: 0;
          border-bottom: 2px solid black;
          border-top: 2px solid black;
        }
        table th {
          padding: 3px 10px;
          background-color: white;
          border-top: none;
          border-left: 1px solid black;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          text-align: center;
        }
        table td {
          padding: 3px 10px;
          border-top: 1px solid black;
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          border-right: 1px solid black;
          text-align: center;
        }
    </style>
</head>
<body>
<h1 id="title"> {{ title }} </h1>

<h1 id="Algorithm"> Algorithms </h1>
{% for values in answers.algorithm.values %}

    {# Include Algorithm Name #}
    {% include "MaRDMO/_name.html" with class="ALGORITHM" counter=forloop.counter name=values.Name prefix="A" %}
   
    {# Include Algorithm Short Description #}
    {% include "MaRDMO/_short_description.html" with class="ALGORITHM" description=values.Description name=values.Name %}

    {# Include Algorithm ID #}
    {% include "MaRDMO/_id.html" with class="ALGORITHM" id=values.ID %}

    {# Include Block for single Relation between Algorithm and Task #}
    {% include "MaRDMO/_relation_block_single.html" with anchor="A2AT" title="Algorithmic Tasks" relation="solves" relatants=values.RelationP class="ALGORITHMIC TASK" %}

    {# Include Block for single Relation between Algorithm and Software #}
    {% include "MaRDMO/_relation_block_single.html" with anchor="A2S" title="Softwares" relation="implemented by" relatants=values.RelationS class="SOFTWARE" %}
        
    {# Include Block for multiple Relations between Algorithm and Algorithm #}
    {% include "MaRDMO/_relation_block_multiple.html" with anchor="A2A" title="Algorithms" relations=values.RelationA class="ALGORITHM" empty_msg="True" %}
    
{% empty %}
    <strong style="color:black;">NO ALGORITHM DOCUMENTED</strong>
{% endfor %}
    
<h1 id="Task"> Algorithmic Tasks </h1> 
{% for values in answers.problem.values %}

    {# Include Algorithmic Task Name #}
    {% include "MaRDMO/_name.html" with class="ALGORITHMIC TASK" counter=forloop.counter name=values.Name prefix="AT" %}

    {# Include Algorithmic Task Short Description #}
    {% include "MaRDMO/_short_description.html" with class="ALGORITHMIC TASK" description=values.Description name=values.Name %}            

    {# Include Algorithmic Task ID #}
    {% include "MaRDMO/_id.html" with class="ALGORITHMIC TASK" id=values.ID %}
                
    {# Include Block for single Relation between Algorithmic Task and Benchmark #}
    {% include "MaRDMO/_relation_block_single.html" with anchor="AT2B" title="Benchmarks" relation="instantiates" relatants=values.RelationB class="BENCHMARK" %}

    {# Include Block for multiple Relations between Algorithmic Task and Algorithmic Task #}
    {% include "MaRDMO/_relation_block_multiple.html" with anchor="AT2AT" title="Algorithmic Tasks" relations=values.RelationP class="ALGORITHMIC TASK" empty_msg="False" %}
    
{% empty %}
    <strong style="color:black;">NO ALGORITHMIC TASK DOCUMENTED</strong>
{% endfor %}
    
<h1 id="Software"> Softwares </h1> 
{% for values in answers.software.values %}

    {# Include Software Name #}
    {% include "MaRDMO/_name.html" with class="SOFTWARE" counter=forloop.counter name=values.Name prefix="S" %}

    {# Include Software Short Description #}
    {% include "MaRDMO/_short_description.html" with class="SOFTWARE" description=values.Description name=values.Name %}            

    {% for reference in values.reference.values %}
        {% if reference.0 == option.SWMATH %}
            <b>swMath ID</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.DOI %}
            <b>DOI</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.URL %}
            <b>URL</b>: {{ reference.1 }} <br>
        {% endif %}
    {% endfor %}

    {# Include Software ID #}
    {% include "MaRDMO/_id.html" with class="SOFTWARE" id=values.ID %}

    {# Include Block for single Relation between Software and Benchmark #}
    {% include "MaRDMO/_relation_block_single.html" with anchor="S2B" title="Benchmarks" relation="tests" relatants=values.RelationB class="BENCHMARK" %}

{% empty %}
    <strong style="color:black;">NO SOFTWARE DOCUMENTED</strong>
{% endfor %}

<h1 id="Benchmark"> Benchmarks </h1> 
{% for values in answers.benchmark.values %}

    {# Include Benchmark Name #}
    {% include "MaRDMO/_name.html" with class="BENCHMARK" counter=forloop.counter name=values.Name prefix="B" %}

    {# Include Benchmark Short Description #}
    {% include "MaRDMO/_short_description.html" with class="BENCHMARK" description=values.Description name=values.Name %}
   
    {% for reference in values.reference.values %}
        {% if reference.0 == option.MORWIKI %}
            <b>MORwiki ID</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.DOI %}
            <b>DOI</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.URL %}
            <b>URL</b>: {{ reference.1 }} <br>
        {% endif %}
    {% endfor %} 

    {# Include Benchmark ID #}
    {% include "MaRDMO/_id.html" with class="BENCHMARK" id=values.ID %}

{% empty %}
    <strong style="color:black;">NO BENCHMARK DOCUMENTED</strong>
{% endfor %}

<h1 id="Publication"> Publications </h1>
{% for values in answers.publication.values %}

    {# Include Publication Name #}
    {% include "MaRDMO/_name.html" with class="PUBLICATION" counter=forloop.counter name=values.Name prefix="P" %}
    
    {% for reference in values.reference.values %}
        {% if reference.0 == option.DOI %}
            <b>DOI</b>: {{ reference.1 }} <br>
	    {% endif %} 
    {% empty %}
        {% if 'not found' in values.ID %}
            <strong style="color:red;">MISSING PUBLICATION DOI</strong>
        {% endif %}
    {% endfor %}

    {# Include Publication ID #}
    {% include "MaRDMO/_id.html" with id=values.ID %}

    {% if values.RelationA or values.RelationB or values.RelationS %}

        {# Include Block for multiple Relations between Publication and Algorithm #}
        {% include "MaRDMO/_relation_block_multiple.html" with anchor="P2A" title="Algorithms" relations=values.RelationA class="ALGORITHM" empty_msg="False" %}

        {# Include Block for multiple Relations between Publication and Benchmark or Software #}
        {% include "MaRDMO/_relation_block_multiple.html" with anchor="P2BS" title="Benchmarks or Softwares" relations=values.RelationBS class="BENCHMARK OR SOFTWARE" empty_msg="False" %}

    {% else %}
        <strong style="color:red;">MISSING PUBLICATION to ALGORITHM, BENCHMARK, OR SOFTWARE RELATION</strong>
    {% endif %}

{% empty %}
    <strong style="color:black;">NO PUBLICATION DOCUMENTED</strong>
{% endfor %}

</body>
