 <head>
 {% load static %}
 <script type="text/javascript" id="MathJax-script" async
         src="{% static 'MaRDMO/js/mathjax/es5/tex-mml-chtml.js' %}">
 </script>
 <style>
         table {
           margin-left: 0;
           margin-right: auto;
           margin-bottom: 24px;
           border-spacing: 0;
           border-bottom: 2px solid black;
           border-top: 2px solid black;
         }
         table th {
           padding: 3px 10px;
           background-color: white;
           border-top: none;
           border-left: 1px solid black;
           border-right: 1px solid black;
           border-bottom: 1px solid black;
           text-align: center;
         }
         table td {
           padding: 3px 10px;
           border-top: 1px solid black;
           border-left: 1px solid black;
           border-bottom: 1px solid black;
           border-right: 1px solid black;
           text-align: center;
         }
</style>
</style>
</head>
<body>
<h1 id="title"> {{ title }} </h1>

{% for values in answers.model.values %}
    
    {% if forloop.counter == 1 %}
        <h1 id="MathematicalModel"> Mathematical Models </h1>
    {% endif %}
    
    <h2 id="MM{{ forloop.counter }}"> MM{{ forloop.counter }}: {{ values.Name }} </h2>

    <p>
        {% if values.Description %}
            <b>Description</b>: {{ values.Description }} <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
    <br>
    </p>
    {% if values.Properties %}
        <b>Properties</b>: 
        {% for value in values.Properties.values %} 
            {% if value == option.isDeterministic %} 
	            Is Deterministic 
	        {% elif value == option.isStochastic %} 
	            Is Stochastic 
	        {% elif value == option.isDimensionless %} 
	            Is Dimensionless 
	        {% elif value == option.isDimensional %} 
	            Is Dimensional 
	        {% elif value == option.isDynamic %} 
	            Is Dynamic 
	        {% elif value == option.isStatic %} 
	            Is Static 
	        {% elif value == option.isLinear %} 
	            Is Linear 
	        {% elif value == option.isNotLinear %} 
	            Is Not Linear 
	        {% elif value == option.isSpaceContinuous %} 
	            Is Space-Continuous 
	        {% elif value == option.isSpaceDiscrete %} 
	            Is Space-Discrete 
	        {% elif value == option.isTimeContinuous %} 
	            Is Time-Continuous 
	        {% elif value == option.isTimeDiscrete %} 
	            Is Time-Discrete 
	        {% endif %} 
	        {% if not forloop.last %}
	            , 
	        {% endif %} 
	    {% endfor %}
    {% endif %}

    {% for models in values.RelationRP1.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToResearchProblems"> Relations to Research Problems </h3>
        {% endif %}
	    models: {{ models.1 }} <br>
    {% endfor %}

    {% for relation in values.RelationMF1.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToMathematicalFormulations"> Relations to Mathematical Formulations </h3>
        {% endif %}

        {% if relation.0 == option.assumes %} 
	        assumes: {{relation.1 }} <br>
        {% elif relation.0 == option.containsFormulation %}
            contains: {{relation.1 }} <br>
        {% elif relation.0 == option.containsBoundaryCondition %}
            contains Boundary Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsConstraintCondition %}
            contains Constraint Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsCouplingCondition %}
            contains Coupling Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsInitialCondition %}
            contains Initial Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsFinalCondition %}
            contains Final Condition: {{relation.1 }} <br>
        {% endif %}
    {% endfor %}

    {% for task in values.RelationT.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToTasks"> Relations to Tasks </h3>
        {% endif %}
	    used by: {{ task.1 }} <br>
    {% endfor %}

    {% for key, relation in values.RelationMM1.items %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToMathematicalModels"> Relations to Mathematical Models </h3>
        {% endif %}

        {% if relation.0 == option.specializedBy %} 
	        specialized by: {{relation.1 }} {% for key2, vals in values.assumptionMapped.items %} {% if key == key2 %} - assumptions: {% for val in vals.values %} {{ val }} {% if not forloop.last %}, {% endif %} {% endfor %} {% endif %} {% endfor %} <br>
        {% elif relation.0 == option.specializes %} 
	        specializes: {{relation.1 }} {% for key2, vals in values.assumptionMapped.items %} {% if key == key2 %} - reverse assumptions: {% for val in vals.values %} {{ val }} {% if not forloop.last %}, {% endif %} {% endfor %} {% endif %} {% endfor %} <br>
        {% elif relation.0 == option.discretizedBy %} 
	        discretized by: {{relation.1 }} <br>
        {% elif relation.0 == option.discretizes %} 
	        discretizes: {{relation.1 }} <br>
        {% elif relation.0 == option.containedInModel %} 
	        contained in: {{relation.1 }} <br>
        {% elif relation.0 == option.containsModel %} 
	        contains: {{relation.1 }} <br>
        {% elif relation.0 == option.approximatedBy %} 
	        approximated by: {{relation.1 }} <br>
        {% elif relation.0 == option.approximates %} 
	        approximates: {{relation.1 }} <br>
        {% elif relation.0 == option.linearizedBy %} 
	        linearized by: {{relation.1 }} <br>
        {% elif relation.0 == option.linearizes %} 
	        linearizes: {{relation.1 }} <br>
        {% elif relation.0 == option.similarTo %} 
	        similar to: {{relation.1 }} <br>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for values in answers.task.values %}

    {% if forloop.counter == 1 %}
        <h1 id="Task"> Tasks </h1>                        
    {% endif %}

    <h2 id="T{{ forloop.counter }}"> T{{ forloop.counter }}: {{ values.Name }} </h2>

    <p>
        {% if values.Description %}
            <b>Description</b>: {{ values.Description }} <br>
        {% endif %}

        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
    </p>

    {% if values.Properties %}
        <b>Properties</b>: 
        {% for value in values.Properties.values %} 
            {% if value == option.isLinear %} 
                Is Linear 
            {% elif value == option.isNotLinear %} 
                Is Not Linear 
            {% endif %} 
            {% if not forloop.last %}
                , 
            {% endif %} 
        {% endfor %} <br> 
    {% endif %}

    {% for relation in values.RelationMF.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToMathematicalFormulations"> Relations to Mathematical Formulations </h3>
        {% endif %}

        {% if relation.0 == option.assumes %} 
            assumes: {{relation.1 }} <br>
        {% elif relation.0 == option.containsFormulation %}
            contains: {{relation.1 }} <br>
        {% elif relation.0 == option.containsBoundaryCondition %}
            contains Boundary Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsConstraintCondition %}
            contains Constraint Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsCouplingCondition %}
            contains Coupling Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsInitialCondition %}
            contains Initial Condition: {{relation.1 }} <br>
        {% elif relation.0 == option.containsFinalCondition %}
            contains Final Condition: {{relation.1 }} <br>
        {% endif %}
    {% endfor %}

    {% for value in values.RelationQQK.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToQuantities"> Relations to Quantities / Quantity Kinds </h3>
        {% endif %}
        {% if value.0 == option.containsInput %} 
            contains Input: {{ value.1 }} <br>
        {% elif value.0 == option.containsOutput %} 
            contains Output: {{ value.1 }} <br>
        {% elif value.0 == option.containsObjective %} 
            contains Objective: {{ value.1 }} <br>
        {% elif value.0 == option.containsParameter %} 
            contains Parameter: {{ value.1 }} <br>
        {% elif value.0 == option.containsConstant %}
            contains Constant: {{ value.1 }} <br>
        {% endif %}
    {% endfor %}

    {% for key, value in values.RelationT.items %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToTasks"> Relations to Tasks </h3>
        {% endif %}
        {% if value.0 == option.specializedBy %} 
            specialized by: {{ value.1 }} {% for key2, vals in values.assumptionMapped.items %} {% if key == key2 %} - assumptions: {% for val in vals.values %} {{ val }} {% if not forloop.last %}, {% endif %} {% endfor %} {% endif %} {% endfor %} <br>
        {% elif value.0 == option.specializes %} 
            specializes: {{ value.1 }} {% for key2, vals in values.assumptionMapped.items %} {% if key == key2 %} - reverse assumptions: {% for val in vals.values %} {{ val }} {% if not forloop.last %}, {% endif %} {% endfor %} {% endif %} {% endfor %} <br>
        {% elif value.0 == option.discretizedBy %} 
            discretized by: {{ value.1 }} <br>
        {% elif value.0 == option.discretizes %} 
            discretizes: {{ value.1 }} <br>
        {% elif value.0 == option.containedInTask %} 
            contained in: {{ value.1 }} <br>
        {% elif value.0 == option.containsTask %} 
            contains: {{ value.1 }} <br>
        {% elif value.0 == option.approximatedBy %} 
            approximated by: {{ value.1 }} <br>
        {% elif value.0 == option.approximates %} 
            approximates: {{ value.1 }} <br>
        {% elif value.0 == option.linearizedBy %} 
            linearized by: {{ value.1 }} <br>
        {% elif value.0 == option.linearizes %} 
            linearizes: {{ value.1 }} <br>
        {% elif value.0 == option.similarTo %} 
            similar to: {{ value.1 }} <br>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for values in answers.formulation.values %}
    {% if forloop.counter == 1 %}
        <h1 id="MathematicalFormulations"> Mathematical Formulations </h1>
    {% endif %}
        <h2 id="MF{{ forloop.counter }}"> MF{{ forloop.counter }}: {{ values.Name }} </h3>
        
    <p>
        {% if values.Description %}
            <b>Description</b>: {{ values.Description }} <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
    </p>

    {% if values.Properties %}
        <b>Properties</b>:  
        {% for value in values.Properties.values %} 
            {% if value == option.isDeterministic %} 
                Is Deterministic 
            {% elif value == option.isStochastic %} 
                Is Stochastic 
            {% elif value == option.isDimensionless %} 
                Is Dimensionless 
            {% elif value == option.isDimensional %} 
                Is Dimensional 
            {% elif value == option.isDynamic %} 
                Is Dynamic 
            {% elif value == option.isStatic %} 
                Is Static 
            {% elif value == option.isLinear %} 
                Is Linear 
            {% elif value == option.isNotLinear %} 
                Is Not Linear 
            {% elif value == option.isSpaceContinuous %} 
                Is Space-Continuous 
            {% elif value == option.isSpaceDiscrete %} 
                Is Space-Discrete 
            {% elif value == option.isTimeContinuous %} 
                Is Time-Continuous 
            {% elif value == option.isTimeDiscrete %} 
                Is Time-Discrete 
            {% endif %} 
            {% if not forloop.last %}
                , 
            {% endif %} 
        {% endfor %}
    {% endif %}
        
    <p>
        {% if values.Formula %}
            <b>Defining formulations</b>: 
            {%for value in values.Formula.values %} 
                \( {{ value|cut:"$" }} \) 
                {% if not forloop.last %}
                    , 
                {% endif %} 
            {% endfor %}
        
    </p>
    <br>
    <table border="1">
        <colgroup>
            <col style="width: 10%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 30%" />
        </colgroup>
        <thead>
            <tr class="header">
                <th style="text-align: center; vertical-align: middle;">Symbol</th>
                <th style="text-align: center; vertical-align: middle;">Quantity</th>
                <th style="text-align: center; vertical-align: middle;">Quantity ID</th>
                <th style="text-align: center; vertical-align: middle;">Quantity Kind</th>
                <th style="text-align: center; vertical-align: middle;">Quantity Kind ID</th>
                <th style="text-align: center; vertical-align: middle;">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for value in values.element.values %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;">\({{ value.symbol }}\)</td>
                    <td style="text-align: center; vertical-align: middle;">{% if value.Info %} {{ value.Info.Name }} {% else %} {{ value.Quantity }} {% endif %}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ value.Info.QID }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ value.Info.QKName }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ value.Info.QKID }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ value.Info.Description }}</td>				
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% endif %}

    {% for values in values.RelationMF1.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToOtherMathematicalFormulationsI1"> Relations to other Mathematical Formulations I </h3>
        {% endif %}

        {% if values.0 == option.assumes %} 
	        assumes: {{ values.1 }} <br>
        {% elif values.0 == option.containsFormulation %} 
	        contains: {{ values.1 }} <br>
        {% elif values.0 == option.containsBoundaryCondition %} 
	        contains Boundary Condition: {{ values.1 }} <br>
        {% elif values.0 == option.containsConstraintCondition %} 
	        contains Constraint Condition: {{ values.1 }} <br>
        {% elif values.0 == option.containsCouplingCondition %} 
	        contains Coupling Condition: {{ values.1 }} <br>
        {% elif values.0 == option.containsInitialCondition %} 
	        contains Initial Condition: {{ values.1 }} <br>
        {% elif values.0 == option.containsFinalCondition %} 
	        contains Final Condition: {{ values.1 }} <br>
        {% endif %}
    {% endfor %}

    {% for key, value in values.RelationMF2.items %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToOtherMathematicalFormulationsII1"> Relations to other Mathematical Formulations II </h3>
        {% endif %}

        {% if value.0 == option.approximatedBy %} 
	        approximated by: {{ values.1 }} <br>
        {% elif value.0 == option.approximates %} 
	        approximates: {{ values.1 }} <br>
        {% elif value.0 == option.discretizedBy %} 
	        discretized by: {{ values.1 }} <br>
        {% elif value.0 == option.discretizes %} 
	        discretizes: {{ values.1 }} <br>
        {% elif value.0 == option.specializedBy %} 
	        specialized by: {{ values.1 }} {% for key2, vals in values.assumptionMapped.items %} {% if key == key2 %} - assumptions: {% for val in vals.values %} {{ val }} {% if not forloop.last %}, {% endif %} {% endfor %} {% endif %} {% endfor %} <br>
        {% elif value.0 == option.specializes %} 
	        specializes: {{ values.1 }} {% for key2, vals in values.assumptionMapped.items %} {% if key == key2 %} - reverse assumptions: {% for val in vals.values %} {{ val }} {% if not forloop.last %}, {% endif %} {% endfor %} {% endif %} {% endfor %} <br>
        {% elif value.0 == option.nondimensionalizedBy %} 
	        nondimensionalized by: {{ values.1 }} <br>
        {% elif value.0 == option.nondimensionalzes %} 
	        nondimensionalizes: {{ values.1 }} <br>
        {% elif value.0 == option.linearizedBy %} 
	        linearized by: {{ values.1 }} <br>
        {% elif value.0 == option.linearizes %} 
	        linearizes: {{ values.1 }} <br>
        {% elif value.0 == option.similarTo %} 
	        similar to: {{ values.1 }} <br>
        {% endif %}  
    {% endfor %}
{% endfor %}
    
{% for values in answers.publication.values %}

    {% if forloop.counter == 1 %}
        <h1 id="Publication"> Publications </h1>
    {% endif %}

    <h2 id="P{{ forloop.counter }}"> P{{ forloop.counter }}: {{ values.Name }} </h2>
    
    <p> {% if values.ID %}
            <b>ID</b>: {{ values.ID }} <br>
        {% endif %}
        {% for reference in values.reference.values %}
            {% if reference.0 == option.DOI %}
                <b>DOI</b>: {{ reference.1 }} <br>
	        {% endif %} 
            {% if reference.0 == option.URL %}
                <b>URL</b>: {{ reference.1 }} <br>
	        {% endif %}
        {% endfor %}
    </p>

    {% for values in values.RelationP.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToEntitiesOfTheMathematicalModels"> Relations to Entities of the Mathematical Models </h3>
        {% endif %}
        {% if values.0 == option.documents %} 
	    documents: {{ values.1 }} <br>
        {% elif values.0 == option.invents %} 
	    invents: {{ values.1 }} <br>
        {% elif values.0 == option.studies %} 
	    studies: {{ values.1 }} <br>
        {% elif values.0 == option.surveys %} 
	    surveys: {{ values.1 }} <br>
        {% elif values.0 == option.uses %} 
	    uses: {{ values.1 }} <br>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for values in answers.field.values %}
    {% if forloop.counter == 1 %}
        <h1 id="ResearchField"> Research Fields </h1>
    {% endif %}

    <h2 id="RF{{ forloop.counter }}"> RF{{ forloop.counter }}: {{ values.Name }} </h2>

    <p>
        {% if values.Description %}
            <b>Description</b>: {{ values.Description }} <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
    </p>

    {% for relation in values.RelationRF1.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToOtherResearchFields"> Relations to other Research Fields </h3>
	{% endif %}
        {% if relation.0 == option.specializedBy %} 
            specialized by: {{relation.1 }} <br>
        {% elif relation.0 == option.specializes %} 
            specializes: {{relation.1 }} <br>
        {% elif relation.0 == option.similarTo %} 
            similar to: {{relation.1 }} <br>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for values in answers.problem.values %}
    {% if forloop.counter == 1 %}
        <h1 id="ResearchProblem"> Research Problems </h1>
    {% endif %}
    <h2 id="RP{{ forloop.counter }}"> RP{{ forloop.counter }}: {{ values.Name }} </h2>

    <p>
        {% if values.Description %}
            <b>Description</b>: {{ values.Description }} <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
    </p>

    {% for researchfield in values.RelationRF1.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToResearchFields"> Relations to Research Fields </h3>
        {% endif %}
	contained in Field: {{ researchfield.1 }} <br>
    {% endfor %}

    {% for relation in values.RelationRP1.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToOtherResearchProblems"> Relations to other Research Problems </h3>
        {% endif %}
        {% if relation.0 == option.specializedBy %} 
	    specialized by: {{relation.1 }} <br>
        {% elif relation.0 == option.specializes %} 
	    specializes: {{relation.1 }} <br>
        {% elif relation.0 == option.similarTo %} 
	    similar to: {{relation.1 }} <br>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for values in answers.quantity.values %}
    {% if forloop.counter == 1 %}
        <h1 id="QuantityQuantityKind"> Quantities / Quantity Kinds </h1>
    {% endif %}

    <h2 id="QQK{{ forloop.counter }}"> QQK{{ forloop.counter }}: {{ values.Name }} </h2>

    <p>
        {% if values.Description %}
            <b>Description</b>: {{ values.Description }} <br>
        {% endif %}
        
        <b>Class</b>: 
        {% if values.QorQK == option.Quantity %}
            Quantity
        {% elif values.QorQK == option.QuantityKind %}
            Quantity Kind
        {% endif %} <br>

        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
        
        {% if values.reference %}
            {% for reference in values.reference.values %}
                {% if reference.0 == option.QUDT %}
                    <b>QUDT ID</b>: {{ reference.1 }} <br>
                {% endif %} 
            {% endfor %}
        {% endif %}
        <br>
    </p>
        
    {% if values.Properties %}
        <b>Properties</b>: 
        {% if values.Properties %}
            {% for value in values.Properties.values %} 
                {% if value == option.isChemicalConstant %} 
                    Is Chemical Constant
                {% elif value == option.isMathematicalConstant %} 
                    Is Mathematical Constant
                {% elif value == option.isPhysicalConstant %} 
                    Is Physical Constant
                {% elif value == option.isDeterministic %} 
                    Is Deterministic 
                {% elif value == option.isStochastic %} 
                    Is Stochastic 
                {% elif value == option.isDimensionless %} 
                    Is Dimensionless 
                {% elif value == option.isDimensional %} 
                    Is Dimensional 
                {% elif value == option.isDynamic %} 
                    Is Dynamic 
                {% elif value == option.isStatic %} 
                    Is Static 
                {% elif value == option.isLinear %} 
                    Is Linear 
                {% elif value == option.isNotLinear %} 
                    Is Not Linear 
                {% elif value == option.isSpaceContinuous %} 
                    Is Space-Continuous 
                {% elif value == option.isSpaceDiscrete %} 
                    Is Space-Discrete 
                {% elif value == option.isTimeContinuous %} 
                    Is Time-Continuous 
                {% elif value == option.isTimeDiscrete %} 
                    Is Time-Discrete 
                {% endif %} 
                {% if not forloop.last %}
                    , 
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if values.QorQK == option.Quantity %}
        {% for values in values.RelationQQ.values %}
            {% if forloop.counter == 1 %}
	            <h3 id="RelationsToOtherQuantities"> Relations to other Quantities </h3>
            {% endif %}
            {% if values.0 == option.specializedBy %} 
	            specialized by: {{ values.1 }} <br>
            {% elif values.0 == option.specializes %} 
	            specializes: {{ values.1 }} <br>
            {% elif values.0 == option.approximatedBy %} 
	            approximated by: {{ values.1 }} <br>
            {% elif values.0 == option.approximates %} 
	            approximates: {{ values.1 }} <br>
            {% elif values.0 == option.linearizedBy %} 
	            linearized by: {{ values.1 }} <br>
            {% elif values.0 == option.linearizes %} 
	            linearizes: {{ values.1 }} <br>
            {% elif values.0 == option.nondimensionalizedBy %} 
	            nondimensionalized by: {{ values.1 }} <br>
            {% elif values.0 == option.nondimensionalizes %} 
	            nondimensionalizes: {{ values.1 }} <br>
            {% elif values.0 == option.similarTo %} 
	            similar to: {{ values.1 }} <br>
            {% endif %}
        {% endfor %}
        {% for values in values.RelationQQK.values %}
            {% if forloop.counter == 1 %}
	            <h3 id="RelationsToQuantityKinds"> Relations to Quantity Kinds </h3>
            {% endif %}
            {% if values.0 == option.specializes %} 
	            specializes: {{ values.1 }} <br>
            {% endif %}
        {% endfor %}
    {% elif values.QorQK == option.QuantityKind %}
        {% for values in values.RelationQKQK.values %}
            {% if forloop.counter == 1 %}
                <h3 id="RelationsToOtherQuantityKinds"> Relations to other Quantity Kinds </h3>
            {% endif %}
            {% if values.0 == option.nondimensionalizedBy %} 
                nondimensionalized: {{ values.1 }} <br>
            {% elif values.0 == option.nondimensionalizes %} 
                nondimensionalizes: {{ values.1 }} <br>
            {% elif values.0 == option.similarTo %} 
                similar to: {{ values.1 }} <br>
            {% endif %}
        {% endfor %}
        {% for values in values.RelationQKQ.values %}
            {% if forloop.counter == 1 %}
                <h3 id="RelationsToOtherQuantities3"> Relations to Quantities </h3>
            {% endif %}
            {% if values.0 == option.specializedBy %} 
                specialized by: {{ values.1 }} <br>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if values.Formula %}
        <h3 id="QuantityOrQuantityKindDefinition"> Definition of {% if values.QorQK == option.Quantity %} Quantity {% elif values.QorQK == option.QuantityKind %} Quantity Kind {% endif %} </h3>
        <p>
            <b>Defining formulations</b>: 
            {%for value in values.Formula.values %} 
                \( {{ value|cut:"$" }} \) 
                {% if not forloop.last %}
                    , 
                {% endif %} 
            {% endfor %}
        </p>
        <br>
        <table border="1">
            <colgroup>
                <col style="width: 10%" />
                <col style="width: 15%" />
                <col style="width: 15%" />
                <col style="width: 15%" />
                <col style="width: 15%" />
                <col style="width: 30%" />
            </colgroup>
            <thead>
                <tr class="header">
                    <th style="text-align: center; vertical-align: middle;">Symbol</th>
                    <th style="text-align: center; vertical-align: middle;">Quantity</th>
                    <th style="text-align: center; vertical-align: middle;">Quantity ID</th>
                    <th style="text-align: center; vertical-align: middle;">Quantity Kind</th>
                    <th style="text-align: center; vertical-align: middle;">Quantity Kind ID</th>
                    <th style="text-align: center; vertical-align: middle;">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for value in values.element.values %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">\({{ value.symbol }}\)</td>
                        <td style="text-align: center; vertical-align: middle;">{% if value.Info %} {{ value.Info.Name }} {% else %} {{ value.Quantity }} {% endif %}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ value.Info.QID }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ value.Info.QKName }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ value.Info.QKID }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ value.Info.Description }}</td>				
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
{% endfor %}

</body>


