 <head>
 {% load static %}
 <script type="text/javascript" id="MathJax-script" async
         src="{% static 'MaRDMO/js/mathjax/es5/tex-mml-chtml.js' %}">
 </script>
 <style>
         table {
           margin-left: 0;
           margin-right: auto;
           margin-bottom: 24px;
           border-spacing: 0;
           border-bottom: 2px solid black;
           border-top: 2px solid black;
         }
         table th {
           padding: 3px 10px;
           background-color: white;
           border-top: none;
           border-left: 1px solid black;
           border-right: 1px solid black;
           border-bottom: 1px solid black;
           text-align: center;
         }
         table td {
           padding: 3px 10px;
           border-top: 1px solid black;
           border-left: 1px solid black;
           border-bottom: 1px solid black;
           border-right: 1px solid black;
           text-align: center;
         }
</style>
</style>
</head>
<body>
<h1 id="title"> {{ title }} </h1>

<h1 id="MathematicalModel"> Mathematical Models </h1>
{% for values in answers.model.values %}
    {% if values.Name %}
        <h2 id="MM{{ forloop.counter }}"> MM{{ forloop.counter }}: {{ values.Name }} </h2>
    {% else %}
        <h2 id="MM{{ forloop.counter }}"> MM{{ forloop.counter }}: <strong style="color:red;">MISSING MODEL NAME</strong> </h2>
    {% endif %}
    <p>
        <b>Short Description</b>:
        {% if values.Description %}
            {% if values.Description|length > 250 %}
                <strong style="color:red;">SHORT DESCRIPTION TOO LONG</strong> <br>
            {% else %}
                {{ values.Description }} <br>
            {% endif %}
        {% else %}
             <strong style="color:red;">MISSING MODEL SHORT DESCRIPTION</strong> <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
    <br>
    </p>
    <b>Properties</b>:
    {% for value in values.Properties.values %} 
        {% if value == option.is_deterministic %} 
            {% if option.is_stochastic in values.Properties.values %}
                <strong style="color:red;">Is Deterministic</strong>
            {% else %}
                Is Deterministic
            {% endif %} 
	    {% elif value == option.is_stochastic %} 
            {% if option.is_deterministic in values.Properties.values %}
                <strong style="color:red;">Is Stochastic</strong>
            {% else %}
                Is Stochastic 
            {% endif %}
        {% elif value == option.is_dimensionless %}
            {% if option.is_dimensional in values.Properties.values %}
                <strong style="color:red;">Is Dimensionless</strong>
            {% else %}
                Is Dimensionless
            {% endif %}   
	    {% elif value == option.is_dimensional %} 
            {% if option.is_dimensionless in values.Properties.values %}
                <strong style="color:red;">Is Dimensional</strong>
            {% else %}
                Is Dimensional
            {% endif %} 
	    {% elif value == option.is_dynamic %} 
            {% if option.is_static in values.Properties.values %}
                <strong style="color:red;">Is Dynamic</strong>
            {% else %}
                Is Dynamic
            {% endif %}  
	    {% elif value == option.is_static %} 
            {% if option.is_dynamic in values.Properties.values %}
                <strong style="color:red;">Is Static</strong>
            {% else %}
                Is Static
            {% endif %} 
	    {% elif value == option.is_linear %} 
            {% if option.is_not_linear in values.Properties.values %}
                <strong style="color:red;">Is Linear</strong>
            {% else %}
                Is Linear
            {% endif %} 
	    {% elif value == option.is_not_linear %} 
            {% if option.is_linear in values.Properties.values %}
                <strong style="color:red;">Is Not Linear</strong>
            {% else %}
                Is Not Linear
            {% endif %}
	    {% elif value == option.is_space_continuous %}
            {% if option.is_space_discrete in values.Properties.values %}
                <strong style="color:red;">Is Space-Continuous</strong>
            {% else %}
                Is Space-Continuous
            {% endif %} 
	    {% elif value == option.is_space_discrete %}
            {% if option.is_space_continuous in values.Properties.values %}
                <strong style="color:red;">Is Space-Discrete</strong>
            {% else %}
                Is Space-Discrete
            {% endif %}  
	    {% elif value == option.is_time_continuous %}
            {% if option.is_time_discrete in values.Properties.values %}
                <strong style="color:red;">Is Time-Continuous</strong>
            {% else %}
                Is Time-Continuous
            {% endif %}  
	    {% elif value == option.is_time_discrete %} 
            {% if option.is_time_continuous in values.Properties.values %}
                <strong style="color:red;">Is Time-Discrete</strong>
            {% else %}
                Is Time-Discrete
            {% endif %} 
	    {% endif %} 
	    {% if not forloop.last %}
	        , 
	    {% endif %} 
    {% empty %}
        <strong style="color:red;">MISSING MODEL PROPERTIES</strong>
    {% endfor %}

    <h3 id="RelationsToResearchProblems"> Relations to Research Problems </h3>
    {% for models in values.RelationRP.values %}
        models: {{ models }} <br>
    {% empty %}
        <strong style="color:red;">MISSING RESEARCH PROBLEM</strong>
    {% endfor %}

    <h3 id="RelationsToTasks"> Relations to Computational Tasks </h3>
    {% for task in values.RelationT.values %}
        used by: {{ task }} <br>
    {% empty %}
        <strong style="color:red;">MISSING COMPUTATIONAL TASK</strong>
    {% endfor %}

    {% for key, relation in values.RelationMM.items %}
    	{% if forloop.first %}
            <h3 id="RelationsToMathematicalModels"> Relations to Mathematical Models </h3>
        {% endif %}
        {% if relation.0 == option.specialized_by %} 
	        specialized by: {{relation.1 }} <br>
        {% elif relation.0 == option.specializes %} 
	        specializes: {{relation.1 }} <br>
        {% elif relation.0 == option.discretized_by %} 
	        discretized by: {{relation.1 }} <br>
        {% elif relation.0 == option.discretizes %} 
	        discretizes: {{relation.1 }} <br>
        {% elif relation.0 == option.contained_in_model %} 
	        contained in: {{relation.1 }} <br>
        {% elif relation.0 == option.contains_model %} 
	        contains: {{relation.1 }} <br>
        {% elif relation.0 == option.approximated_by %} 
	        approximated by: {{relation.1 }} <br>
        {% elif relation.0 == option.approximates %} 
	        approximates: {{relation.1 }} <br>
        {% elif relation.0 == option.linearized_by %} 
	        linearized by: {{relation.1 }} <br>
        {% elif relation.0 == option.linearizes %} 
	        linearizes: {{relation.1 }} <br>
        {% elif relation.0 == option.similar_to %} 
	        similar to: {{relation.1 }} <br>
        {% elif relation.0 == 'MISSING RELATION TYPE' %}
            <strong style="color:red;">{{ relation.0 }}</strong>: {{ relation.1 }} <br>
        {% endif %}
    {% endfor %}
{% empty %}
    <strong style="color:black;">NO MATHEMATICAL MODEL DOCUMENTED</strong>
{% endfor %}

<h1 id="Task"> Computational Tasks </h1> 
{% for values in answers.task.values %}

    {% if values.Name %}
        <h2 id="T{{ forloop.counter }}"> T{{ forloop.counter }}: {{ values.Name }} </h2>
    {% else %}
        <h2 id="T{{ forloop.counter }}"> T{{ forloop.counter }}: <strong style="color:red;">MISSING COMPUTATIONAL TASK NAME</strong> </h2>
    {% endif %}

    <p>
        <b>Short Description</b>:
        {% if values.Description %}
            {% if values.Description|length > 250 %}
                <strong style="color:red;">SHORT DESCRIPTION TOO LONG</strong> <br>
            {% else %}
                {{ values.Description }} <br>
            {% endif %}
        {% else %}
             <strong style="color:red;">MISSING MODEL SHORT DESCRIPTION</strong> <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
    </p>

    <b>Properties</b>:
    {% for value in values.Properties.values %} 
        {% if value == option.is_linear %} 
            {% if option.is_not_linear in values.Properties.values %}
                <strong style="color:red;">Is Linear</strong>
            {% else %}
                Is Linear
            {% endif %} 
        {% elif value == option.is_not_linear %} 
            {% if option.is_linear in values.Properties.values %}
                <strong style="color:red;">Is Not Linear</strong>
            {% else %}
                Is Not Linear
            {% endif %}
            {% elif value == option.is_space_continuous %}
            {% if option.is_space_discrete in values.Properties.values %}
                <strong style="color:red;">Is Space-Continuous</strong>
            {% else %}
                Is Space-Continuous
            {% endif %} 
	    {% elif value == option.is_space_discrete %}
            {% if option.is_space_continuous in values.Properties.values %}
                <strong style="color:red;">Is Space-Discrete</strong>
            {% else %}
                Is Space-Discrete
            {% endif %}  
	    {% elif value == option.is_time_continuous %}
            {% if option.is_time_discrete in values.Properties.values %}
                <strong style="color:red;">Is Time-Continuous</strong>
            {% else %}
                Is Time-Continuous
            {% endif %}  
	    {% elif value == option.is_time_discrete %} 
            {% if option.is_time_continuous in values.Properties.values %}
                <strong style="color:red;">Is Time-Discrete</strong>
            {% else %}
                Is Time-Discrete
            {% endif %} 
	    {% endif %}
        {% if not forloop.last %}
            , 
        {% endif %}
    {% empty %}
        <strong style="color:red;">MISSING COMPUTATIONAL TASK PROPERTIES</strong>
    {% endfor %}

    {% for key, relation in values.RelationT.items %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToTasks"> Relations to Computational Tasks </h3>
        {% endif %}
        {% if relation.0 == option.specialized_by %} 
            specialized by: {{ relation.1 }} <br>
        {% elif relation.0 == option.specializes %} 
            specializes: {{ relation.1 }} <br>
        {% elif relation.0 == option.discretized_by %} 
            discretized by: {{ relation.1 }} <br>
        {% elif relation.0 == option.discretizes %} 
            discretizes: {{ relation.1 }} <br>
        {% elif relation.0 == option.contained_in_task %} 
            contained in: {{ relation.1 }} <br>
        {% elif relation.0 == option.contains_task %} 
            contains: {{ relation.1 }} <br>
        {% elif relation.0 == option.approximated_by %} 
            approximated by: {{ relation.1 }} <br>
        {% elif relation.0 == option.approximates %} 
            approximates: {{ relation.1 }} <br>
        {% elif relation.0 == option.linearized_by %} 
            linearized by: {{ relation.1 }} <br>
        {% elif relation.0 == option.linearizes %} 
            linearizes: {{ relation.1 }} <br>
        {% elif relation.0 == option.similar_to %} 
            similar to: {{ relation.1 }} <br>
        {% elif relation.0 == 'MISSING RELATION TYPE' %}
            <strong style="color:red;">{{ relation.0 }}</strong>: {{ relation.1 }} <br>
        {% endif %}
    {% endfor %}
{% empty %}
    <strong style="color:black;">NO COMPUTATIONAL TASK DOCUMENTED</strong>
{% endfor %}

<h1 id="Publication"> Publications </h1>
{% for values in answers.publication.values %}
    {% if values.Name %}
        <h2 id="P{{ forloop.counter }}"> P{{ forloop.counter }}: {{ values.Name }} </h2>
    {% else %}
        <h2 id="P{{ forloop.counter }}"> P{{ forloop.counter }}: <strong style="color:red;">MISSING PUBLICATION NAME</strong> </h2>
    {% endif %}
    <p> {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %}
        <br>
        {% for reference in values.reference.values %}
            {% if reference.0 == option.DOI %}
                <b>DOI</b>: {{ reference.1 }} <br>
	        {% endif %} 
            {% if reference.0 == option.URL %}
                <b>URL</b>: {{ reference.1 }} <br>
	        {% endif %}
        {% empty %}
            {% if 'not found' in values.ID %}
                <strong style="color:red;">MISSING PUBLICATION DOI OR URL</strong>
            {% endif %}
        {% endfor %}
    </p>
    {% for values in values.RelationP.values %}
        {% if forloop.counter == 1 %}
            <h3 id="RelationsToEntitiesOfTheMathematicalModels"> Relations to Entities of the Mathematical Models </h3>
        {% endif %}
        {% if values.0 == option.documents %} 
	        documents: {{ values.1 }} <br>
        {% elif values.0 == option.invents %} 
	        invents: {{ values.1 }} <br>
        {% elif values.0 == option.studies %} 
	        studies: {{ values.1 }} <br>
        {% elif values.0 == option.surveys %} 
	        surveys: {{ values.1 }} <br>
        {% elif values.0 == option.uses %} 
	        uses: {{ values.1 }} <br>
        {% elif values.0 == 'MISSING RELATION TYPE' %}
            <strong style="color:red;">{{ values.0 }}</strong>: {{ values.1 }} <br>
        {% endif %}
    {% empty %}
        <strong style="color:red;">MISSING MATHEMATICAL MODEL ENTITY</strong>
    {% endfor %}
{% empty %}
    <strong style="color:black;">NO PUBLICATION DOCUMENTED</strong>
{% endfor %}

<h1 id="ResearchProblem"> Research Problems </h1>
{% for values in answers.problem.values %}
    
    {% if values.Name %}
        <h2 id="RP{{ forloop.counter }}"> RP{{ forloop.counter }}: {{ values.Name }} </h2>
    {% else %}
        <h2 id="RP{{ forloop.counter }}"> RP{{ forloop.counter }}: <strong style="color:red;">MISSING RESEARCH PROBLEM NAME</strong> </h2>
    {% endif %}

    <p>
        <b>Short Description</b>:
        {% if values.Description %}
            {% if values.Description|length > 250 %}
                <strong style="color:red;">SHORT DESCRIPTION TOO LONG</strong> <br>
            {% else %}
                {{ values.Description }} <br>
            {% endif %}
        {% else %}
             <strong style="color:red;">MISSING RESEARCH PROBLEM SHORT DESCRIPTION</strong> <br>
        {% endif %}
        {% if 'not found' in values.ID %} 
            <b>ID</b>: - 
        {% elif 'mardi' in values.ID %} 
            <b>MaRDI Portal ID</b>: {{ values.ID|cut:"mardi:"}} 
        {% elif 'wikidata' in values.ID %} 
            <b>Wikidata ID</b>: {{ values.ID|cut:"wikidata:"}}
        {% endif %} 
        <br>
    </p>

    {% for relation in values.RelationRP.values %}
        {% if forloop.first %}
            <h3 id="RelationsToOtherResearchProblems"> Relations to other Research Problems </h3>
        {% endif %}
        {% if relation.0 == option.specialized_by %} 
	        specialized by: {{relation.1 }} <br>
        {% elif relation.0 == option.specializes %} 
	        specializes: {{relation.1 }} <br>
        {% elif relation.0 == option.similar_to %} 
	        similar to: {{relation.1 }} <br>
        {% elif relation.0 == 'MISSING RELATION TYPE' %}
            <strong style="color:red;">{{ relation.0 }}</strong>: {{ relation.1 }} <br>
        {% endif %}
    {% endfor %}
{% empty %}
    <strong style="color:black;">NO RESEARCH PROBLEM DOCUMENTED</strong>
{% endfor %}

</body>
