{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <html>
    	<body>
            <br><br><br><br><br><br><br><br><br><br><br>
            <div align='center'>
            	<p>
            	    <span style="font-family:'Arial';color:DarkSlateBlue;font-size:100px;"><b>Ma</b></span>
            	    <span style="font-family:'Arial';color:white;background-color:DarkSlateBlue;font-size:100px;"><b>RDMO</b></p></span>
                </p>
                <br><br><br>
		<p style="color:DarkSlateBlue;font-size:30px;">{{ error }}</p>
            </div>
        </body>
    </html>

{% endblock %}
